<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs', {title: 'Registrate', styles:
  '/css/register.css'}) %>
  <body>
    <%- include('../partials/header.ejs') %>
    <main class="main-reg">
      <div class="form-div">
        <h3>Crear una cuenta</h3>
        <hr />
        <h4>Información personal</h4>
        <form
          action="/users/register"
          method="post"
          enctype="multipart/form-data"
        >
          <input
            type="text"
            name="firstName"
            placeholder="Nombre"
            class="txt-inp"
            value="<%= locals.oldData && oldData.firstName ? oldData.firstName : null %>"
            required
          />
          <input
            type="text"
            name="lastName"
            placeholder="Apellido"
            class="txt-inp"
            value="<%= locals.oldData && oldData.lastName ? oldData.lastName : null %>"
            required
          />
          <input
            type="email"
            name="email"
            placeholder="Email"
            class="txt-inp"
            value="<%= locals.oldData && oldData.email ? oldData.email : null %>"
            required
          />
          <input
            type="password"
            name="password"
            placeholder="Contraseña"
            class="txt-inp"
            required
          />
          <label for="image">Imagen de perfil: </label>
          <br>
          <input type="file" name="avatar" accept="image/png, image/jpeg" id="image"/>
          <br>
          <% if (locals.errors && errors.email) { %>
            <p class="error"><%= errors.email.msg %></p>
          <% } %>
          <div class="Registrarse">
            <button type="submit" id="reg-pr-btn">Registrarse</button>
          </div>
        </form>
      </div>
    </main>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
