<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs', {title: 'Detalle', styles:
  '/css/productDetail.css'}) %>
  <body>
    <%- include('../partials/header.ejs') %>
    <main class="container">
      <section class="product-section">
        <div class="product">
          <div class="product-details">
            <div><img src="/images/products/<%= product.image %>" alt="Imagen del producto: <%= product.name %>" /></div>
            <div><h2><%=product.brand +' '+ product.name %></h2>
            <p><%= product.description %></p>
            <div class="price-pay">
              <div class="price-pay2">
                <div class="form-pay">
                  <h3>Todas las formas de pago</h3>
                  <div class="form-pay2">
                    <div class="target">
                      <img src="https://armoto.vtexassets.com/arquivos/cabal26.png" alt="Cabal" class="target-form2" crossorigin="anonymous">
                    </div>
                    <div class="target">
                      <img src="https://armoto.vtexassets.com/arquivos/visa26.png" alt="Visa" class="target-form1" crossorigin="anonymous">
                    </div>
                    <div class="target">
                      <img src="https://armoto.vtexassets.com/arquivos/mastercard26.png" alt="MasterCard" class="target-form1" crossorigin="anonymous">
                    </div>
                    <div class="target">
                      <img src="https://armoto.vtexassets.com/arquivos/american-express26.png" alt="Cabal" class="target-form2" crossorigin="anonymous">
                    </div>
                    <div class="target">
                      <img src="https://armoto.vtexassets.com/arquivos/cash-icon-checkout.svg" alt="Cabal" class="target-form1" crossorigin="anonymous">
                    </div>
                    <div class="target">
                      <img src="https://armoto.vtexassets.com/arquivos/ico-mercadopago.png" alt="Cabal" class="target-form1" crossorigin="anonymous">
                    </div>
                    <div class="target">
                      <img src="https://armoto.vtexassets.com/arquivos/modo.png" alt="Cabal" class="target-form1" crossorigin="anonymous">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div>
            <div class="options-color">
              <p class="p-div">Seleccione un color:</p>
              <div class="selection">
                <span class="selection1"></span>
                <span class="selection2"></span>
                <span class="selection3"></span>
              </div>
            </div>
            <div class="option">
              <p class="p-div">Capacidad:</p> 
              <span class="options1 gb-cap"> X GB</span>
            </div>
          </div>
          <p class="price">$<%= product.price %></p>
            <form
              action="/products/buy?id=<%= product.id %>"
              method="POST"
              style="display: inline-flex"
            >
              <button type="submit" class="buy-button">
              Agregar al carrito
              </button>
            </form>
            <a
              href="/products/edit/<%= product.id %>"
              class="buy-button"
              >Editar</a
            >
            <form
              action="/products/delete/<%= product.id %>?_method=DELETE"
              method="POST"
              style="display: inline-flex"
              enctype="multipart/form-data"
            >
              <button type="submit" class="buy-button">
                Eliminar
              </button>
            </form>
            </div>
          </div>
        </div>
      </section>
      <div class="product-cart">
        <section class="productscart">
         <div>
          <div class="scroll-sect">
            <div class="scroll-item">
              <div class="scroll-items">
                <div class="scroll-items1">
                  <h4>Rendimiento</h4>
                  <div class="item-flex">
                      <div><h5>Sistema Operativo</h5>
                      <p>xxxx</p></div>
                      <div><h5>Almacenamiento</h5>
                      <p>xxxx</p></div>
                      <div><h5>Procesador</h5>
                      <p>xxxx</p></div>
                      <div><h5>Memoria RAM</h5>
                      <p>xxxx</p></div>
                      <div><h5>Sensores</h5>
                      <p>xxxx</p></div>
                  </div>
                </div>
              </div>
              <div class="scroll-items">
               <div class="scroll-items1">
                <h4>Cámara</h4>
                <div class="item-flex">
                  <div><h5>Frontal</h5>
                  <p>xxxx</p></div>
                  <div><h5>Trasera</h5>
                  <p>xxxx</p></div>
                </div>
               </div>
              </div>
              <div class="scroll-items">
               <div class="scroll-items1">
                <h4>Conectividad</h4>
                <div class="item-flex">
                  <div><h5>Bluetooth</h5>
                  <p>xxxx</p></div>
                  <div><h5>WiFi</h5>
                  <p>xxxx</p></div>
                  <div><h5>NFC</h5>
                  <p>xxxx</p></div>
                </div>
               </div>
              </div>
              <div class="scroll-items">
               <div class="scroll-items1">
                <h4>Batería</h4>
                <div class="item-flex">
                  <div><h5>Capacidad (mAh)</h5>
                  <p>xxxx</p></div>
                  <div><h5>Carga</h5>
                  <p>xxxx</p></div>
                  <div><h5>Tipo de Entrada/Cargador</h5>
                  <p>xxxx</p></div>
                </div>
               </div>
              </div>
              <div class="scroll-items">
                <div class="scroll-items1">
                 <h4>Diseño</h4>
                 <div class="item-flex">
                   <div><h5>Dimensiones</h5>
                   <p>xxxx</p></div>
                   <div><h5>Peso</h5>
                   <p>xxxx</p></div>
                 </div>
                </div>
               </div>
               <div class="scroll-items">
                <div class="scroll-items1">
                 <h4>Audio</h4>
                 <div class="item-flex">
                   <div><h5>Sistema de Audio</h5>
                   <p>xxxx</p></div>
                   <div><h5>Entrada para Auriculares</h5>
                   <p>xxxx</p></div>
                 </div>
                </div>
               </div>
            </div>
          </div>
         </div>
        </section>
      </div>
    </main>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>