<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs', {title: 'Todos los productos', styles:
  '/css/index.css'}) %>
  <body>
    <%- include('../partials/header.ejs') %>
    <main class="main-products">
      <section class="product-container">
        <% products.filter(e => cat ? e.category.name == cat :
        true).forEach(product => { %>
        <a href="/products/detail/<%= product.id %>">
          <%- include('./partials/card.ejs', {product}) %>
        </a>
        <% }) %>
      </section>
      <!-- boton de nuevo producto -->
      <% if (locals.isLogged && locals.userLogged.role.name == 'administrador') { %>
      <a href="/products/create"><i class="fa-solid fa-plus btn-new"></i></a>
      <% } %>
    </main>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
